/* body {
  background-color: #ad3030ea;
  overflow-x: hidden;
  width: 100%;
} */

/* header {
  z-index: 100;
  min-height: 100vh;
  background-color: antiquewhite;
  width: 100%;
  box-sizing: border-box;
} */

/* footer {
  background: #88729b;
  min-height: 100px;
  z-index: 100;
  width: 10%;
} */