<footer class="footer bg-info text-center text-white">
  <section class="mb-4">
    <p>Desafío: Arquitectura de capas</p>
  </section>

  <div class="text-center p-3" style="background-color: #17a2b8">
    Erika Di Pietro
    <a class="text-white">Comisión 32165</a>
  </div>
</footer>
