<!DOCTYPE html>
<html lang="es">

<head>
    <%- include(`./partials/head`) %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="jumbotron">
        <h1 class="display-4">Desafío 21: Testeamos nuestra API REST</h1>
       
        <hr class="my-4">
  
    </div>

</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>